<div class="header d-flex justify-content-center align-items-center">
    <h1>Joe Cordero</h1>
</div>
<div class="container content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 mb-4">
                <h2 class="card-title text-center">Acerca del Proyecto</h2>
                <p class="card-text">Este proyecto tiene como objetivo demostrar la conexión y aplicación de metodos CRUD entre una API .net y un cliente Angular.</p>
            </div>
            <div class="card p-4 mb-4">
                <h2 class="card-title text-center">Tecnologías Utilizadas</h2>
                <p class="card-text">Estamos utilizando una combinación de las siguientes tecnologías para asegurar el mejor rendimiento y escalabilidad:</p>
                <ul>
                    <li>Angular</li>
                    <li>Node.js</li>
                    <li>.Net 8.0</li>
                </ul>
            </div>
        </div>
    </div>
</div>
